
* {
    margin: 0;
    padding: 0;
}

:root {

    --blue: #3d5a80ff;
    --cerulean: #98c1d9ff;
    --cyan: #e0fbfcff;
    --sienna: #ee6c4dff;
    --gunmetal: #293241ff;

    
    --red: #e63946ff;
    --lightblue: #f1faeeff;
    --powderblue: #a8dadcff;
    --celadonblue: #457b9dff;
    --prussianblue: #1d3557ff;
}

body {
    width: 100%;
    min-height: 100vh;
    /* box-sizing: border-box; */
    /* background-color: var(--lightblue); */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: rgba(61, 90, 128,0.25);
}

.all {
    width: 100%;
    min-height: 93.6vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: start;
    
}

.all>aside {
    width: 280px;
    border: 2px solid var(--gunmetal);
    border-bottom: none;
    background: rgba(61, 90, 128,0.5);
    padding-left: 0px;
    box-sizing: border-box;
    overflow: auto;
}


.all aside ul {
    display: block;
    width: 100%;
}

.all aside ul li {
    /* width: 100%; */
    height: 55px;
    display: block;
    box-sizing: border-box;
    border-bottom: 2px solid var(--gunmetal);
    overflow: hidden;
}

.all aside ul li .title {
    width: 100%;
    height: 100%;
    display: block;
    text-align: left;
    /* line-height: 0.2; */
    font-size: 20px;
    font-weight: 500;
    padding: 10px 15px ;
    border-radius: 0;
    outline: none;
    border: none;
    background: var(--cerulean);
    user-select: none;
}

.all aside ul li .title:hover {
    background-color: rgb(96, 131, 175);
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
    user-select: none;
    /* box-shadow: 0 0 5px var(--blue); */
}

.all aside ul li .title:active {
    border-left: 7px solid var(--sienna);
}

.all>section {
    width: 100%;
    border-left: 2px solid var(--gunmetal);
    /* border: 2px solid var(--gunmetal); */
    /* margin-left: 20px; */
}

.all>section>h2,.all>aside>h2 {
    text-align: center;
    height: 50px;
    line-height: 1.8;
    font-size: 25px;
    color: var(--sienna);
}

.all>aside>h2{
    z-index: 1;
    padding:7px 0;
    background: var(--blue);
    color: rgb(240, 238, 238);
    user-select: none;
    border-bottom: 2px solid var(--gunmetal);
}

.all>section>h2{
    /* background: var(--gunmetal); */
    background: #ebe9e9;
    color: var(--blue);
    border-bottom: 2px solid var(--gunmetal);
}

.in form .cancel_btn{
    border-radius: 4px;
    border: 2px solid rgb(179, 179, 179);
    box-shadow: none;
    background: #f5f5f5;
    color: black;
}
.in form .cancel_btn:hover{
    background: rgb(231, 230, 230);
}
.in form .cancel_btn:active{
    border: 2px solid rgb(141, 141, 141);
}

.in form .submit_btn{
    border-radius: 4px;
    border: 2px solid rgb(104, 123, 156);
    box-shadow: none;
}

.in form .submit_btn:active{
    border: 2px solid rgb(238, 167, 149);
}

.p_otp .resendOtp{
    border: none;
    box-shadow: none;
    background: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
    padding: 2px;
    margin: 0;
    position: relative;
    top: -20px;
    right: -75px;
    border-radius: 0;
    border: 1px solid var(--blue);
}

.p_otp .resendOtp:hover{
    background: rgb(228, 228, 228);
}
.p_otp .resendOtp:active{
    border: 1px solid var(--sienna);
}

footer {
    width: 100%;
    height: 40px;
    text-align: right;
    background-color: var(--gunmetal);
    font-size: 19px;
    font-weight: 600;
    color: var(--sienna);
    line-height: 2.5;
    padding: 0 15px;
    box-sizing: border-box;
    z-index: 1;
    /* border-top: 2px solid var(--gunmetal); */
}
